<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:description="@string/xposed_description_short"
        android:icon="@mipmap/ic_launcher"
        android:label="BiliIntl Unrestrict"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Xposed / LSPosed / Vector 模块元数据 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="专为哔哩哔哩海外版设计的发评反诈全息中心与青少年模式中和增强模块"
            android:resource="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name="me.bili.unrestrict.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 同步跨进程配置 ContentProvider -->
        <provider
            android:name="me.bili.unrestrict.ipc.ConfigProvider"
            android:authorities="me.bili.unrestrict.provider.config"
            android:exported="true" />

        <!-- 显式跨进程接收器 -->
        <receiver
            android:name="me.bili.unrestrict.ipc.CommentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="me.bili.unrestrict.ACTION_INSERT_COMMENT" />
                <action android:name="me.bili.unrestrict.ACTION_RECORD_LOG" />
                <action android:name="me.bili.unrestrict.ACTION_REQUEST_SYNC" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
